---
layout: default
title: "OnePageCRM - Developers Workspace"
sub_title: "News, posts and ideas"
slider_image: "/assets/images/LargeGroup_devs.jpg"
---
 
    {% include slider.html %}

    <div class="appix-blog-content section-ptb">
        <div class="container">
            <div class="row">
              {% include post_loops.html %}
            </div>
            <!-- pagination -->
            <div class="row">
             <div class="col-md-12"> 
                <div class="pagination-wrapper">
                    <nav class="pagination w-100" role="navigation">
                        <div class="w-25 text-left"> 
                        {% if paginator.previous_page %}
                          <a class="older-posts" href="{{ paginator.previous_page_path }}"><span aria-hidden="true">&larr;</span> Newest Posts </a>
                        {% endif %}
                        </div>
                        <div class="w-50 float-left">
                            <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
                        </div>
                        <div class="w-25 float-right text-right">
                          {% if paginator.next_page %}
                           <a class="older-posts" href="{{ paginator.next_page_path }}">Older Posts <span aria-hidden="true">&rarr;</span></a>
                          {% endif %}
                        </div>
                    </nav>
                 </div>
               
                </div>
            </div>
            <!-- end pagination -->
        </div>
    </div>
