<div id="api2-nav" class="dev-nav">
    <ul class="nav nav-pills nav-stacked">
        <li class="disabled">API 2.3 Documentation</li>
	<li><a href="index.html#top">API 2.3 Documentation</a></li>
	<li class="disabled">Connecting &amp; Authorization</span></li>
        <li><a href="index.html#request-message-format">Request message format</a></li>
        <li><a href="index.html#response-message-format">Response message format</a></li>
        <li><a href="index.html#authorization-methods">Authorization methods</a></li>
        <li class="disabled">contact management</span></li>
        <li><a href="index.html#contacts">Contacts</a></li>
        <li><a href="index.html#companies">Companies</a></li>
        <li><a href="index.html#contact-notes">Contact notes</a></li>
        <li><a href="index.html#contact-deals">Contact deals</a></li>
        <li><a href="index.html#contact-actions">Contact actions</a></li>
        <li><a href="index.html#predefined-sales-actions">Predefined sales actions</a></li>
        <li><a href="index.html#user-custom-tags">User custom tags</a></li>
        <li><a href="index.html#custom-filters">Custom filters</a></li>
        <li class="disabled">methods</span></li>
        <li><a href="index.html#settings-methods">Settings methods</a></li>
        <li><a href="index.html#sales-methods">Sales methods</a></li>
        <li><a href="index.html#other-methods">Other methods</a></li>
        <li><a href="index.html#values">Values of some variables</a></li>
        <li class="disabled">API response codes</span></li>
        <li><a href="index.html#response-codes">API response codes</a></li>
        <li class="disabled">Version History</span></li>
        <li><a href="index.html#version-history">Version History</a></li>
    </ul>
</div>
