<div id="api-nav" class="dev-nav">
    <ul class="nav-pills nav-stacked" >
        <li class="disabled">Introduction</li>
        <li data-order="" class=""><a href="#intro">API 3.0 Introduction</a></li>
        <li data-order="" class=""><a href="#api-clients">API Clients</a></li>
        <li class="disabled">Basics &amp; Logging In</li>
        <li data-order=""><a href="#endpoint">API Endpoint</a></li>
        <li data-order=""><a href="#requestparams">Request Parameters</a></li>
        <li data-order=""><a href="#datatypes">Data Types</a></li>
        <li data-order=""><a href="#responseformat">Response Format</a></li>
        <li data-order="" class=""><a href="#auth">Authentication</a></li>
        <li data-order="" class="active"><a href="#signing">Signing Process</a></li>
        <li data-order="" class=""><a href="#fields">Fields</a></li>
        <li class="disabled">Main Methods</li>
        <li data-order="" class=""><a href="#actionstream">Action Stream</a></li>
        <li data-order=""><a href="#team-stream">Team Stream</a></li>
        <li data-order=""><a href="#actions">Actions</a></li>
        <li data-order=""><a href="#contacts">Contacts</a></li>
        <li data-order=""><a href="#deals">Deals</a></li>
        <li data-order=""><a href="#notes">Notes</a></li>
        <li data-order=""><a href="#calls">Calls</a></li>
        <li data-order=""><a href="#users">Users</a></li>
        <li data-order=""><a href="#companies">Companies</a></li>
        <li class="disabled">Beta Methods</li>
        <li data-order=""><a href="#countries">Countries - Beta</a></li>
        <li data-order=""><a href="#customfields">Custom Fields</a></li>
        <li data-order=""><a href="#customfilters">Custom Filters</a></li>
        <li data-order=""><a href="#closing-sales-cycle">Closing Sales Cycle - Beta</a></li>
        <li data-order=""><a href="#leadsources">Lead Sources</a></li>
        <li data-order=""><a href="#contactphoto">Contact Photo - Beta</a></li>
        <li data-order=""><a href="#statuses">Statuses</a></li>
        <li data-order=""><a href="#tags">Tags</a></li>
    <!-- List additional links. It is recommended to add a divider
        e.g. <li class=divider></li> first to break up the content. -->
        <hr></hr>
        <li><a target="blank" href="/api_browser">API Browser </a></li>
        <li><a target="blank" href="https://github.com/OnePageCRM">GitHub</a></li>
        <li><a target="blank" href="https://www.onepagecrm.com/api-use">API Use Policy</a></li>
    </ul>
</div>