<div id="api-nav" class="dev-nav">
    <ul class="nav nav-pills nav-stacked" >
        {% for section in site.api_sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] reversed %}
            {% if forloop.first %}
                <li class="disabled">{{ label }}</li>
            {% endif %}
                <li data-order="{{ page.order }}">
                    <a href="#{{ page.slug }}">{{ page.title }}
                    {% if page.tags contains 'beta' %}
                        <p class="label label-warning">Beta</p>
                      {% endif %}
                    </a>
               </li>
            {% endfor %}
        {% endfor %}
    <!-- List additional links. It is recommended to add a divider
        e.g. <li class=divider></li> first to break up the content. -->
        <hr></hr>
        <li class="disabled">Legacy Versions</li>
        <li>
            <a href="/api2">API v2.3</a>
        </li>
        <hr></hr>
        <li> <a target="blank" href="/api_browser">API Browser </a>
        <li>
            <a target="blank" href="https://github.com/OnePageCRM">GitHub</a>
        </li>
    </ul>
</div>
