    <!-- Start Footer Bottom -->
    <div class="footer-overlay blog-footer">
        <div class="blog-footer-overlya">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="themeix-footer-bottom">
                            <div class="inner-section">
                                <!-- start logo -->
                                <!--<a class="logo image-logo" href="{{ site.url }}"><img src="/assets/images/on_dev_white.png" alt="OPCRM"></a> -->
                                <!-- end logo -->
                                <!--<ul class="footer-menu">
                                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/disclaimer">Disclaimer</a></li>
                                </ul>-->
                                <h6>
                                    <i class="fa fa-copyright"></i> 2022 OnePageCRM. All rights reserved. 
                                    <span style="margin-left: 50px;" class="privacy-terms"><a href="https://www.onepagecrm.com/terms/" target="_blank">Terms of Service</a><span style="padding: 0 0 0 10px;">•</span><a style="padding: 0 0 0 10px" href="https://www.onepagecrm.com/privacy/" target="_blank"> Privacy</a>
                                </h6>
                                <div class="social">
                                    <ul>
                                        <li class="facebook-link"><a target="_blank" href="https://www.facebook.com/OnePageCRM" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter-link"><a target="_blank" href="https://twitter.com/OnePageCRM" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li class="linkedin-link"><a target="_blank" href="https://www.linkedin.com/company/onepage-crm" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>																				</ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact us -->
    <!-- scrollUP button -->
    <a id="scrollUp" href="#"></a>
    <!-- end scrollUP button -->
    <!-- End Footer Bottom -->