<!-- <nav class="navbar navbar-default navbar-fixed-bottom navbar-small" role="navigation">
  <div class="container">
   <p class="navbar-text"> Documentation for <a href="{% if site.codeurl %}{{ site.codeurl }}{% else %}{{ site.baseurl }}{% endif %}">{{ site.name }}</a> </p>
  </div>
</nav> -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-7970888-8', 'onepagecrm.github.io');
  ga('send', 'pageview');

</script>