    <!-- Start Footer Bottom -->
    <div class="footer-overlay blog-footer">
        <div class="blog-footer-overlya">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="themeix-footer-bottom">
                            <div class="inner-section">
                                <!-- start logo -->
                                <a class="logo image-logo" href="{{ site.url }}"><img src="{{ site.url }}/assets/images/on_dev_white.png" alt="OPCRM"></a>
                                <!-- end logo -->
                                <!--<ul class="footer-menu">
                                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/disclaimer">Disclaimer</a></li>
                                </ul>-->
                                <h6 style="margin-top: 60px">All content OnePageCRM <i class="fa fa-copyright"></i> 2018 - All rights reserved</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact us -->
    <!-- scrollUP button -->
    <a id="scrollUp" href="#"></a>
    <!-- end scrollUP button -->
    <!-- End Footer Bottom -->