    <!-- Start Header Area -->
    <header id="stickey-menu">
        <nav class="navbar navbar-expand-lg main-menu">
            <div class="container">
                <div class="col-lg-3">
                    <div class="navbar-header">
                        <a href="{{site.url}}" class="navbar-brand">
                            <img src="/assets/images/on_dev_dark.png" alt="{{site.title}}">
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#topMenu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="collapse navbar-collapse" id="topMenu">
                        <ul class="navbar-nav ml-auto">
                            <!--<li class="nav-item"><a href="{{site.url}}" class="nav-link">Home</a></li>
                            {% for pageinfo in site.pages %}
                              {% if pageinfo.primaryNav == true %}
                                <li class="nav-item"><a href="{{pageinfo.url}}" class="nav-link">{{pageinfo.title}}</a></li>
                              {% endif %}  
                             {% endfor %}-->
                            <li {% if page.url == 'api3/index.html'%} class="active" {% endif %}>
                                <a href="/api3">API</a>
                            </li>
                            <!--<li>
                                <a target="blank" href="http://www.onepagecrm.com/api/sales-crm-api.html" title="Link to our old API documentation">API v2</a>
                            </li> -->
                            <li {% if page.url == '/webhooksmore/index.html'%} class="active" {% endif %}>
                                <a href="/webhooksmore">WebHooks & More</a>
                            </li>
                            <li {% if page.url == '/blog/index.html'%} class="active" {% endif %}>
                                <a href="/blog">Developer Blog</a>
                            </li>
                            <li {% if page.url == 'http://forum.developer.onepagecrm.com'%} class="active" {% endif %}>
                                <a href="http://forum.developer.onepagecrm.com">Forum</a>
                            </li>
                            <li {% if page.url == '/status/index.html'%} class="active" {% endif %}>
                                <a href="/status">Status</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header Area -->