    <!-- Start Slider Area -->
    <div class="slider-area">
        <div class="container-fluid">
            <div class="row">
                <div class="slider-wrapper height-400">
                    <div id="particles-js" style="background-image:url({{ page.slider_image }});">
                        <div class="slider-fixed-text">
                            <h1>{{ page.title }}</h1>
                            <p class="flying-text">{{ page.sub_title }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Slider Area -->