<div id="webhook-nav">
    <ul class="nav nav-pills nav-stacked" data-spy="affix">
        <li class="disabled">Webhooks</li>
        <li>
            <a href="index.html#top">What are Webhooks</a>
        </li>
        <li>
            <a href="index.html#activate">Activate Webhooks</a>
        </li>
        <li>
            <a href="index.html#configure">Configure Webhooks</a>
        </li>
        <li>
            <a href="index.html#sampledata">Sample Data </a>
        </li>
        <li>
            <a href="index.html#testing">Testing Webhooks</a>
        </li>

        <hr></hr>

        <li class="disabled">More</li>
        <li {% if page.url == '/webhooksmore/quickcreateurlparams.html'%} class="active" {% endif %}>
            <a href="quickcreateurlparams.html">Create Contact via URL</a>
        </li>

        <hr></hr>
        <li class="disabled"> Code </li>
        <li>
            <a target="blank" href="https://github.com/OnePageCRM">OnePageCRM GitHub</a>
        </li>
        <li>
            <a target="blank" href="https://github.com/OnePageCRM/ruby-client">Sample Ruby Client</a>
        </li>
        <li>
            <a target="blank" href="https://github.com/OnePageCRM/python-sample">Sample Python Client</a>
        </li>
         <li>
            <a target="blank" href="https://github.com/davekelly/aaOnepageCrm">Wordpress Plugin <span class="label label-warning">3rd Party </span></a> 
        </li>
    </ul>
</div>
