---
layout: default
title: Blog
---

<!-- Start Slider Area -->
<div class="slider-area">
    <div class="container-fluid">
        <div class="row">
            <div class="slider-wrapper height-250">
                <div id="particles-js" style="background-image:url(/assets/images/slider.jpg);">
                    <div class="slider-fixed-text">
                         <h1>OnePageCRM - Developers Workspace</h1>
                            <p class="flying-text">News, posts and ideas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Slider Area -->

<div class="page-wrapper py-5">
  <div class="container">
	  <div class="row">
	    <div class="col-md-8">
      {% for post in site.categories["blog"] %}
      {% assign author = site.authors[post.author] %}
		  <div class="tag-post-wrapper"> 
		    <div class="category-post py-3">
		      <div class="category-post-info">
            <h3 class="blog-post-title">
              <a href="{{ post.url }}" target="_blank" title="{{ post.title }}"> {{ post.title }}</a>
            </h3> 
            <p><span class="author">{{ author.name }}</span> <span class="date">{{ post.date | date_to_string }}</span></p>
            
            <div class="text-justify">
              {{ post.excerpt }}
            </div>
		        <div class="read-more">
              <div class="themeix-button-group">
                <a href="{{ post.url }}" class="themeix-btn themeix-danger">read more</a>
              </div>
            </div>
          </div>
		    </div>
		  </div>
	    {% endfor %}
      </div>
      <div class="col-md-4">
        <div class="sidebar-contents">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
  </div>
</div>