---
layout: default
title: Blog
---


<div id="content" class="col-md-8 maincontent blog-content">
  <!-- <div class="container"> -->
  {{ content }}
  <!-- </div> -->
</div>

<div id="" class="col-md-3 sidebar">
  <div class="block">
    <h3>About us</h3>
    <p>OnePageCRM converts leads to customers fast. It does it in a beautiful user experience on one, simple, dashboard</p>
  </div>
  
  <div class="block">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="http://onepagecrm.us2.list-manage.com/subscribe/post?u=d4aa8b2905916701a44961012&amp;id=cd6a0beac9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h3>Developer Mailing List</h3>
        <p>Get all the blog posts and important notifications directly to your mailbox</p>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address </label>
          <div class="input-group">
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
            <div class="input-group-btn">
              <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Subscribe </button>
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_d4aa8b2905916701a44961012_cd6a0beac9" value=""></div>
          
        </div>  
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>

</div>