---
layout: default
---
    <!-- Start Slider Area -->
    <div class="slider-area">
        <div class="container-fluid">
            <div class="row">
                <div class="slider-wrapper height-350">
                    <div id="particles-js" style="background-image:url(/assets/images/LargeGroup_devs.jpg);">
                        <div class="slider-fixed-text">
                            {% if page.title%}
                             <h2>{{page.title}}</h2>
                            {% endif %} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Slider Area -->
    <div class="appiex-blog-content section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div class="single-blog-item post tag-image">
                        <div class="details-img">
                           {% if page.post_image %}
                             <img src="{{ page.post_image }}" alt="{{past.title}}">
                           {% endif %}
                        </div>
                        <div class="blog-details">
                            {{ content }}
                        </div>
                        <div class="blog-meta-wrapper">
                            <!--<div class="blog-meta">
                                <div class="tag-clouds">
                                    <a href="/pages/tagpage/">{{ page.category | limit: 1 }}</a>
                                </div>
                            </div>-->
                            <div class="share-icon">
                              <span>share on</span>
                              <ul class="social-icon">
                                <!--<li>
                                   <a href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="sharebutton twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>-->
                                <li>
                                   <a href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site.url }}{{ page.url }}&via=OnePageCRM&related={{ site.twitter_username }}" class="sharebutton twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ post.title }}" class="sharebutton facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ post.title }}&summary=&source="  class="sharebutton linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <!--<li>
                                    <a href="https://facebook.com/sharer.php?u={{ post.url }}{{ page.url }}" class="sharebutton facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/share?url={{ post.url }}{{ page.url }}"  class="sharebutton google" target="_blank"><i class="fa fa-google-plus"></i></a>
                                </li>-->
                              </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="blog-navigation">
                            <div class="previous-blog-post">
                             {% if page.previous.url %}
                                <a href="{{ page.previous.url }}"><i class="fa fa-angle-left"></i>Previous Article </a>
                              {% endif %}  
                            </div>
                            <div class="next-blog-post">
                               {% if page.next.url %}
                                 <a href="{{ page.next.url }}">Next Article <i class="fa fa-angle-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- start about the author -->
                        <div class="about-author">
                          {% include about_author.html %}
                        </div>
                        <!-- end about the author -->
                        <div class="clearfix"></div>
                        <!-- Comments -->
                        <div id="disqus_thread"></div>
                    </div>
                </div>
                <div class="col-md-3">
                  <div class="sidebar-contents">
                    {% include recent_posts.html %}
                    <hr>
                    {% include sidebar.html %}
                     <!--<div class="twitter-feed">
                    {% include twitter_feed.html %}
                    </div>-->
                  </div>
               </div>
            </div>
        </div>
    </div>