---
layout: blog
---

{% assign author = site.authors[page.author] %}
<article class="entry">
  <header>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="date">
      <span class="day">{{ page.date | date: '%d' }}</span>
      <span class="month">{{ page.date | date: '%b' }}</span>
      <span class="year">{{ page.date | date: '%Y' }}</span>
    </p>
  </header>
  <div class="text-justify">
    {{ content }}
  </div>
  <div id="discourse-comments"></div>
  <footer>
    <div class="media well">
      <a class="pull-left" href="#">
        <img class="media-object img-rounded" src="{{ author.image }}" alt="author image">
      </a>
      <div class="media-body">
        <h4 class="media-heading"> {{ author.name }}</h4>
        {{ author.description}}
      </div>
    </div>

    <div id="discourse-comments"></div>

    <script type="text/javascript">
    var discourseUrl = 'http://forum.developer.onepagecrm.com/',
      discourseEmbedUrl = 'http://developer.onepagecrm.com/{{ page.url }}';
      (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
      })();
    </script>

  </footer>
</article>

